@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap');

:root {
  --primary-color: #4080ff;
  --text-color: rgb(255, 255, 255);
  --alpha-bg: hsl(0deg 0% 100% / 10%);
  --border-bottom: hsl(0deg 0% 100% / 20%);
  --footer: #1e1f26;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height:5px;
}
::-webkit-scrollbar-track {
  background:#eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius:10px;
}
::-webkit-scrollbar-thumb {
  background:#999;
  border: thin solid gray;
  border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  background:#7d7d7d;
}           

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: hsl(225deg 10% 8%);
  font-family: 'Inter', sans-serif;
}

html {
  box-sizing: border-box;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.player .fa-pause {
  display: none;
}

.player.playing .fa-pause {
  display: inline-block;
}

.player.playing .fa-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-radius: 15px;
  display: block;
  z-index: 9999;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: #000;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
}

header h2 {
  color: #333;
  font-size: 23px;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  margin-top: 5px;
  /* Enable highlighted text */
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
   -khtml-user-select: text; /* Konqueror HTML */
     -moz-user-select: text; /* Old versions of Firefox */
      -ms-user-select: text; /* Internet Explorer/Edge */
          user-select: text; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 18px;
}

.control .btn {
  color: #666;
  padding: 15 px;
  font-size: 24 px;
  cursor: pointer;
}

.fa-solid, .fas {
  font-size: 24px !important;
}

.control .btn:hover {
  color: var(--primary-color);
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: rgb(45 45 45);
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(45 45 45);
  cursor: pointer;
}

.control .btn-toggle-play:hover  {
  opacity: 1;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background-color: #4980ff;
  outline: none;
  opacity: 0.75;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
  border-radius: 15px;
  justify-self: center;
  text-align: center;
  align-self: center;
  align-items: center;
  margin-bottom: 15px;
}

.progress:hover {
  opacity: 1.0;
  height: 5px;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #83a9ff;
  border-radius: 50%;
  cursor: pointer;
}

.volume-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
  background-color: rgb(225, 225, 225);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
  border-radius: 15px;
  justify-self: center;
  text-align: center;
  align-self: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.volume-control:hover {
  opacity: 1.0;
}

.volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #83a9ff;
  border-radius: 50%;
  cursor: pointer;
}

.fas.fa-volume-down-range-min {
  background: var(--primary-color);
}

.fas.fa-volume-up, .fas.fa-volume-down {
  color: #666;
  font-size: 14px !important;
  display: inline;
  margin-left: 3px;
  margin-right: 3px;
}

.fas.fa-volume-down {
  margin-left: 60px;
}

.volume-txt{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  display: inline;
  margin-left: 30%;
  justify-self: center;
  text-align: center;
  align-self: center;
}

#giatri {
  position: fixed;
  display: inline-block;
  margin-right: 8px;
}

/* PLAYLIST */
.playlist {
  margin-top: 415px;
  padding: 12px;
}

.song {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  border-bottom: 1px solid var(--border-bottom);
  cursor: pointer;
  opacity: 0.5;
}

.song.active {
  background-color: var(--alpha-bg);
  opacity: 1;
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

.mobile-hint {
  display: none;
}

/* Chỉnh sửa cho thiết bị di động */
@media screen and (max-width: 480px) {
  #volume-hub {
    display: none;
  }
  .mobile-hint {
    display: block;
  }
  .volume-control {
    display: none;
  }
  .fas.fa-volume-down, .fas.fa-volume-up {
    display: none;
  }
  .playlist {
    margin-top: 430px;
  }
}


/* Footer */

.footer-distributed{
	background: rgb(26, 26, 26);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	margin: 0;
  font-size: 24px;
}

.footer-distributed h3 span{
	color:  var(--primary-color);
  font-size: 24px;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  #ffffff;
}

.footer-distributed .footer-links a:hover {
  color: var(--primary-color);
}

.bullet {
  margin: 0 5px 0 5px;
}

.footer-distributed .footer-copyright{
	color:  #999;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
  /* Enable highlighted text */
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
   -khtml-user-select: text; /* Konqueror HTML */
     -moz-user-select: text; /* Old versions of Firefox */
      -ms-user-select: text; /* Internet Explorer/Edge */
          user-select: text; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	line-height: 42px;
	vertical-align: middle;
  margin-right: 10px;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
  font-size: 14px;
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
  /* Enable highlighted text */
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
   -khtml-user-select: text; /* Konqueror HTML */
     -moz-user-select: text; /* Old versions of Firefox */
      -ms-user-select: text; /* Internet Explorer/Edge */
          user-select: text; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #fff;
	text-decoration: none;
  /* Enable highlighted text */
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
   -khtml-user-select: text; /* Konqueror HTML */
     -moz-user-select: text; /* Old versions of Firefox */
      -ms-user-select: text; /* Internet Explorer/Edge */
          user-select: text; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.footer-distributed .footer-center p a:hover{
	color:  var(--primary-color);
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
  /* Enable highlighted text */
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
   -khtml-user-select: text; /* Konqueror HTML */
     -moz-user-select: text; /* Old versions of Firefox */
      -ms-user-select: text; /* Internet Explorer/Edge */
          user-select: text; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.footer-company-about span {
    /* Enable highlighted text */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.footer-company-about #sign {
    /* Enable highlighted text */
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Old versions of Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.fab.fa-facebook {
  display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 6px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.fab.fa-youtube {
  display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 6px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.fab.fa-github {
  display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 6px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.fab.fa-facebook:hover {
  color: #2e89ff;
  background-color: #ffffff;
}

.fab.fab.fa-youtube:hover {
  color: red;
  background-color: #ffffff;
}

.fab.fa-github:hover {
  color: #8700d4;
  background-color: #ffffff;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


/* Disabled Highlight Text */
body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
